@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Fira Code', monospace;

}
:root {
    --white-color: #fff;
    --black-color: #000;
}
body{
    margin: 0;
    /* background-color: black; */
}
/* NAV */
nav{
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    border-bottom: solid 1px var(--black-color);
}
body h1{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: var(--black-color);
}
nav a:hover{
    border-bottom: solid var(--black-color) 3px;
}
.selected{
    border-bottom: solid var(--black-color) 3px;
}

/* yellow part */
.mainPic{
    text-align: center;
}
.mainPic img{
   width: 70%;
   object-fit: contain;
}
.mainPic p, .pTitle{
    font-weight:600 ;
    font-size: 2rem;
    padding: 1em 8em;
}
.mainPic div{
    width: 40%;
    margin: 0 auto;
    border-bottom: solid 2px var(--black-color);
}
/* ALL Articles */
.artclTitle{
    font-weight:600 ;
    font-size: 2rem;
    text-align: center;
    padding: 1em 0;
}
.allArticle{
   display: flex;
   flex-wrap: wrap;
   margin: 2em 10em;
   gap: 1em;
   row-gap: 2em;
}
.allArticle article{
    text-align: center;
    width: 30%;
    row-gap: 1em;
    display: flex;
    flex-direction: column;
}
.allArticle article a img{
    height: 150px;
    width: 100%;
    object-fit:cover;
    display: inline-block;
}
.allArticle article p {
    
}
/* FORM */
form{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}
form input{
    padding: 1em;
}
form input:last-of-type{
    color: var(--white-color);
    padding: 1em;
    background-color: var(--black-color);
}


/* FOOTER */
footer{
    margin-top: 2em;
    color: var(--white-color);
    background-color: var(--black-color);
}
footer div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
}
footer h1,
footer p{
    text-align: center;
    padding: 1em;
}
.textFoot{
    width: 60%;
    margin: 0 auto;
}

footer .links{
    display: flex;
    justify-content: center;
}
footer .links a{
    text-decoration: none;
    color: var(--white-color);
    margin: 1em;
}

/* BLOG */
.pTitle{

}
.imgBlog{
    width: 100%;
    object-fit: contain;
}
.blogContent{
    padding: 3em 10em;
}
.head .profil{
    border-radius: 50%;
    width: 5em;
    margin-right: 1em;
}
.head{
    position: relative;
    border-top: solid var(--black-color) 2px;
    display: flex;
    padding-top: 1em;
    align-items: center;
}
.head h3{
    padding-top: 0.5em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.blogText {
  padding-top: 2em;
}
.twitter{
    position: absolute;
   left:85%;
   width: 2.5em;
}

/* eyes */
.line{
    margin-top: 4em;
    border-top: solid 2px var(--black-color);
    position: relative;
}
.eye1,.eye2 {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 30px;
    left: 50%;
    bottom: -20px;
    background-color: var(--white-color);
    border:solid 1px var(--black-color)
}
.eye2 {
    left: 52.5%;
}
.eye1:after, .eye2::after { /*pupil*/
    position: absolute;
    right: 3px;
    width: 15px;
    top: 15px;
    height: 25px;
    background: #000;
    border-radius: 50%;
    content: " ";
}